@import 'src/styles/mixins';

.main {
  align-items: stretch;
  justify-content: stretch;
  width: 100%;

  &__navigation {
    flex-direction: column;
    justify-content: flex-start;
    width: 7em;
    padding: 2em 3em;
    background: var(--nav-bg);
    border-radius: 2em;
    margin: 1em;

    .invisible-button,
    .invisible-link {
      transition: 0.3s transform ease-in-out;

      i {
        font-size: 3rem;
      }

      &.active,
      &:hover {
        i {
          @include gradient;
        }
      }

      &:hover {
        transform: scale(1.1) rotateZ(10deg);
      }
    }

    .invisible-link {
      &:not(:last-child) {
        margin-bottom: 1em;
      }

      &.invisible-button {
        margin-top: auto;
      }
    }
  }

  &__left-header {
    padding: 2em;
    justify-content: flex-start;
  }

  &__chats-count {
    background: var(--second-bg);
    padding: 0.25em 0.5em;
    border-radius: 1.25em;
    margin-right: 5em;
    p {
      font-size: 2.4rem;
    }
  }

  &__chat-create {
    border-radius: 50%;
    font-size: 4.5rem;
    padding: 0.3em;
    line-height: 0.6;
    margin: 0;
  }

  &__left {
    border-right: 2px solid var(--nav-bg);
    height: calc(100vh - var(--toolbar-height));
    flex-direction: column;
    padding: 1em 1.25em 1em 1em;
    width: 37em;
  }

  &__messages-btn {
    font-size: 2.4rem;
    font-weight: 500;
    margin-right: 0.25em;
  }

  &__container {
    flex: 1;
    height: calc(100vh - var(--toolbar-height));
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__chats {
    width: 100%;
  }

  &__content {
    justify-content: stretch;
    align-items: stretch;
    height: calc(100vh - var(--toolbar-height) - 9em);
    width: 100%;
  }

  &__scrollable-chats {
    padding: 1em 1.25em 1em 0;
    overflow-y: auto;
    height: calc(100vh - var(--toolbar-height) - 15em);

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  .chats__chat-search {
    .material-icons-outlined {
      margin-right: 0.25em;
      color: var(--input-text);
    }

    input {
      width: 10em;
      font-size: 2.4em;
    }

    justify-content: flex-start;
    background: var(--input-bg2);
    padding: 0.75em 1em;
    border-radius: 0.75em;
    margin-bottom: 1em;
  }

  .chats__chat {
    margin-top: 1em;
    padding: 1em;
    border-radius: 1.5em;
    cursor: pointer;
    transition: 0.3s background ease-in-out;
    justify-content: space-between;
    position: relative;

    .flex-container {
      justify-content: flex-start;
      align-items: center;
      -webkit-text-fill-color: inherit;
    }

    &:hover,
    &.active {
      background: var(--chat-hover);
    }

    &:hover .chat__right button {
      visibility: visible;
      opacity: 1;
    }

    img {
      height: 2.5em;
      width: 2.5em;
      border-radius: 100%;
      margin-right: 0.5em;
      user-select: none;
    }

    .chat__info {
      text-align: left;
      flex: 1;
      width: 7.5em;
    }

    .chat__right {
      margin-left: auto;
      flex-direction: column;
      align-items: flex-end;

      button {
        visibility: hidden;
        opacity: 0;
        transition: 0.3s opacity ease-in-out;
        z-index: 10;

        i {
          color: var(--second-text) !important;
          font-size: 2.5rem;
        }
      }
    }

    .chat__unread {
      position: absolute;
      width: 0.75em;
      height: 0.75em;
      background: linear-gradient(90deg, rgba(255, 139, 40, 1) 0%, rgba(247, 45, 23, 1) 100%);
      border-radius: 100%;
      top: 65%;
      left: 16%;
    }

    .chat__name {
      font-weight: 600;
      font-size: 1.75rem;
      letter-spacing: normal;
    }

    .chat__last-message {
      color: var(--input-text) !important;
      font-size: 1.6rem;
      letter-spacing: normal;
    }
  }

  &__right {
    flex: 1;
    height: 100%;
    flex-direction: column;

    h3,
    p {
      text-align: center;
      margin: 0;
    }

    button {
      margin: 1em 0 0 0;
    }
  }
}
