*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--second-bg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: 0.3s color ease-in-out;
}

img {
  user-select: none;
}

html {
  background: rgba(43, 46, 52, 0.99);
  height: 100vh;
  overflow: hidden;
  font-size: 8px;

  position: relative;

  --toolbar-height: 30px;
}

.app-container {
  --red: #ff3535;
  --green: #79ff57;
  --dark-red: #5a0900;
  --orange: rgba(255, 139, 40, 1);
}

.app-container[data-theme='dark'] {
  .app-container__bg {
    background: rgba(43, 46, 52, 0.97);
  }

  --second-bg: #41454e;

  --text-color: #fff;
  --second-text: #5f5f5f;
  --input-text: #8f8f8f;
  --input-bg: #2b2e34;
  --input-bg2: var(--second-bg);
  --settings-bg: #373b42;

  --toolbar-bg: #232426;
  --toolbar-buttons: #b8b8b8;
  --toolbar-bg--hover: #191919;
  --status-window-bg: #191a1d;
  --message-window-bg: #242629f7;
  --chat-hover: var(--second-bg);

  --scrollbar-track: #121313a1;
  --hover-background: var(--second-bg);

  --message-bg: var(--second-bg);
  --own-message-bg: var(--toolbar-bg--hover);
  --message-color: var(--text-color);

  --nav-bg: rgba(0, 0, 0, 0.28);
  --gray-gradient: linear-gradient(90deg, #a5a5a5 0%, #ffffff 100%);
}

.app-container[data-theme='light'] {
  .app-container__bg {
    background: rgba(255, 255, 255, 0.9);
  }

  --second-bg: #b4b4b4;

  --text-color: #484848;
  --second-text: #d7d7d7;
  --input-text: #a5a5a5;
  --settings-bg: var(--second-text);
  --input-bg: #fff;
  --input-bg2: var(--second-text);

  --toolbar-bg: #f4f4f4;
  --toolbar-buttons: #8a8a8a;
  --toolbar-bg--hover: #d1d1d1;
  --status-window-bg: #bbbbbb;
  --message-window-bg: #fff;
  --chat-hover: var(--second-text);

  --scrollbar-track: #121313a1;
  --hover-background: var(--message-window-bg);

  --message-bg: var(--toolbar-bg--hover);
  --own-message-bg: var(--second-bg);
  --message-color: #000;

  --nav-bg: rgba(136, 136, 136, 0.28);
  --gray-gradient: linear-gradient(90deg, #484848 0%, #484848 100%);
}

body,
.app-container,
.app-container__bg {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-size: cover;
  background-position: center;
}

.app {
  flex: 1;
  display: flex;
  justify-content: center;
  background-size: cover;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  padding: 10em 5em;
  align-self: center;
}

.block {
  background: var(--settings-bg);
  position: relative;
  padding: 1.25em;
  border-radius: 1.5em;
}

.dropping-down {
  padding: 2em;
  background: var(--nav-bg);
  position: absolute;
  right: -80%;
  top: 250%;
  border-radius: 2.5em;
  opacity: 0;
  transition: 0.3s opacity, 0.3s transform ease-in-out;
  transform: translateY(-200%);
  pointer-events: none;
  max-height: 60vh;
  overflow-y: auto;

  &.active {
    pointer-events: auto;
    opacity: 1;

    transform: translateY(0%);
  }
}

.roundy-image {
  width: 1.75em;
  height: 1.75em;
  margin-right: 0.4em;
  border-radius: 100%;
}

@import 'common/typography';
@import 'common/inputs';
