@import 'mixins';

* {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.75em;
}

p {
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  font-weight: 400;
}

a {
  font-size: 2.5rem;
  text-decoration: none;
  @include gradient;
  font-weight: 500;
}

.gradient-text {
  @include gradient;
}

.material-icons {
  user-select: none;
}

ul {
  list-style-position: inside;
  font-size: 2.5rem;
  margin: 0 0 4em 1em;
}
