@import '../mixins';

.input-container {
  width: 50em;
  margin-bottom: 2em;

  p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: red;
    pointer-events: none;
    left: 0.5em;
  }

  .input-with-error {
    position: relative;
    width: 100%;
  }

  .input-outer {
    border-radius: 5em;
    border: double 1px transparent;
    background-image: linear-gradient(var(--input-bg), var(--input-bg)),
      linear-gradient(
        90deg,
        rgba(255, 139, 40, 1) 0%,
        rgba(247, 45, 23, 1) 100%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;

    &.error {
      border: 1px red solid;
    }

    .left {
      margin: 0.75em 0 0.75em 1.5em;
    }

    .right {
      margin-right: 0.5em;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 88%;
    }

    .right + input {
      padding-right: 3em;
    }

    input {
      font-weight: 300;
      font-size: 2rem;
      background: transparent;
      color: var(--text-color);
      border: none;
      width: 100%;
      outline: none;
      padding: 0.75em 0.5em;
    }
  }
}

.checkbox-container {
  user-select: none;

  input {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    font: inherit;
    width: 2.5em;
    height: 2.5em;
    border: 0.3em solid var(--text-color);
    border-radius: 50%;
    transform: translateY(-0.075em);
    margin-right: 1em;
    display: grid;
    place-content: center;
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      width: 1.25em;
      height: 1.25em;
      transform: translate(-50%, -50%) scale(0);
      transition: 0.3s transform ease-in-out;
      background: var(--text-color);
      border-radius: 50%;
    }

    &:checked::before {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  label {
    cursor: pointer;
    font-size: 2.25rem;
    background: linear-gradient(
      90deg,
      rgba(255, 139, 40, 1) 0%,
      rgba(247, 45, 23, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
  }
}

.sliding-checkbox {
  input {
    width: 5em;
    border: none;
    background: #484848;
    border-radius: 2em;
    margin: 0;

    &::before {
      background: #fff;
      left: 0;
      width: 2.5em;
      height: 2.5em;
      transform: translateY(-50%);
      transition: 0.3s left, 0.3s background ease-in-out;
    }

    &:checked::before {
      transform: translateY(-50%);
      background: var(--green);
      left: 2.5em;
    }
  }
}

button,
.button {
  font-weight: 400;
  color: #fff;
  -webkit-text-fill-color: #fff;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-size: 3.5rem;
  padding: 0.25em 2em;
  border-radius: 5em;
  border: none;
  margin-bottom: 1em;
  background: linear-gradient(
    90deg,
    rgba(255, 139, 40, 1) 0%,
    rgba(247, 45, 23, 1) 100%
  );
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    border-radius: 5em;
    transition: 0.3s background ease-in-out;
  }

  &:hover {
    &::after {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

.invisible-button,
.invisible-button-second {
  color: var(--text-color);
  padding: 0;
  margin: 0;
  border-radius: 0;

  &:hover {
    &::after {
      background: none;
    }
  }
}

.invisible-button {
  background: none;
  -webkit-text-fill-color: inherit;
}

.gray-button {
  background: var(--second-bg);
}

.invisible-input {
  background: none;
  border: none;
  outline: none;
}

.animated-button {
  transition: 0.3s transform ease-in-out;

  &.active i:first-child,
  &:hover :first-child {
    @include gradient;
  }

  &:hover {
    transform: scale(1.1);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
