@import 'src/styles/mixins';

.toolbar {
  justify-content: space-between;
  padding: 0 0 0 1em;
  width: 100%;
  height: var(--toolbar-height);
  background: var(--toolbar-bg);
  -webkit-app-region: drag;
  z-index: 1000;

  h2 {
    color: var(--second-text);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
  }

  &__actions {
    -webkit-app-region: no-drag;
    align-items: stretch;

    button {
      background: var(--toolbar-bg);
      border-radius: 0;
      width: var(--toolbar-height);
      height: var(--toolbar-height);

      i {
        font-size: 2rem;
        -webkit-text-fill-color: var(--toolbar-buttons);
      }

      &:hover {
        i {
          @include gradient;
        }
        background: var(--toolbar-bg--hover);
      }
    }
  }

  .close-btn:hover {
    background: var(--dark-red);
  }
}
