@import 'src/styles/mixins';

* {
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
}

h1,
h3 {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.75em;
}

h3 {
  text-align: left;
  font-weight: 500;
  font-size: 2.9rem;
}

p {
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  font-weight: 400;
}

a {
  font-size: 2.5rem;
  text-decoration: none;
  @include gradient;
  font-weight: 500;
}

.invisible-link {
  background: none;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.gradient-text {
  @include gradient;
}

i {
  font-size: 3rem;
}

ul {
  list-style-position: inside;
  font-size: 2.5rem;
  margin: 0 0 4em 1em;
}

time {
  color: var(--input-text);
  font-size: 1.6rem;
}

.gray-gradient-link {
  @include gray-gradient;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
